<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Plus d'informations sur ce quai.</h1>

  <table>
    <tr>
      <th>Numéro du quai</th>
      <th>Type du quai</th>
      <th>Description</th>
    </tr>
    <tr>
      <td><%= catway.catwayNumber %></td>
      <td><%= catway.type %></td>
      <td><%= catway.catwayState %></td>
    </tr>
  </table>
</body>
</html>
